<app-header [userImg]="userProfileImg" />
<app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title" [bannerOverview]="(bannerDetail$ | async)?.overview"
  [key]="(bannerVideo$ | async)?.results[0].key" />
  
<app-movie-carousel [title]="'Popular on Netflix'" [videoContents]="movies" />

<app-movie-carousel [title]="'Trending TV shows'" [videoContents]="tvShows" />

<app-movie-carousel [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies" />

<app-movie-carousel [title]="'Popular Movies'" [videoContents]="popularMovies" />

<app-movie-carousel [title]="'Top Rated Movies'" [videoContents]="topRatedMovies" />

<app-movie-carousel [title]="'Upcoming Movies'" [videoContents]="upcomingMovies" />

<!-- <div class="flex flex-col justify-center items-center h-[100vh]">
    <div
        class="relative flex flex-col items-center rounded-[20px] w-[400px] mx-auto p-4 bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none">
        <div class="relative flex h-32 w-full justify-center rounded-xl bg-cover">
            <img src='https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/media/banner.ef572d78f29b0fee0a09.png'
                class="absolute flex h-32 w-full justify-center rounded-xl bg-cover">
            <div
                class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                <img class="h-full w-full rounded-full" [src]='userProfileImg' alt="" />
            </div>
        </div>
        <div class="mt-16 flex flex-col items-center">
            <h4 class="text-xl font-bold text-navy-700 dark:text-white">
                {{name}}
            </h4>
            <p class="text-m  dark:text-white m-3">
                {{email}}
            <p>
</div>
<div>
    <button (click)="signOut()">
        Sign out
    </button>
</div>
</div>
</div> -->